<!-- row -->
<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">
      {{originalCourse.name}}
    </h1>
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-dashboard"></i>
        <a href="facility/home"> Dashboard </a>
      </li>
      <li>
        <i class="fa fa-list-alt"></i>
        <a href="facility/courses"> Courses </a>
      </li>
      <li class="active">
        <i class="fa fa-cutlery"></i> Course details
      </li>
    </ol>
  </div>
</div>
<!-- /.row -->

<div [hidden]="uiState.showPage">
  <div class="jumbotron">
    <h1>Ooooops!</h1>
    <p>We can`t find that course!</p>
  </div>
</div>

<div class="row" [hidden]="!uiState.showPage">
  <div class="col-md-12 col-sm-12">
    <ul  class="nav nav-tabs">
      <li class="active hand">
        <a id="course-details" data-toggle="tab"><i class="fa fa-fw fa-info-circle"></i>Details</a>
      </li>
      <li class="hand">
        <a id="course-update" data-toggle="tab"><i class="fa fa-fw fa-pencil-square"></i>Update</a>
      </li>

    </ul>

    <br/><br/>

    <div class="tab-content clearfixtab-pane">

      <div class="tab-pane active" id="course-details-tab">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-fw fa-info-circle"></i> Course details
            </h3>
          </div>
          <div class="panel-body">
            <div class="panel panel-info" [hidden]="uiState.view.hiddenLoadingGif">
              <div class="panel-heading text-center">
                <img src="../../../assets/pictures/loading.gif" style="width:20px; height:20px;">
                <span>&nbsp;Loading...</span>
              </div>
            </div>

            <div [hidden]="uiState.view.hiddenTable">
              <div class="table-responsive">
                <table class="table  table-responsive table-striped">
                  <tbody>
                  <tr>
                    <th class="td-right-align col-md-2"> Name:</th>
                    <td class="td-left-align col-md-10">{{originalCourse.name}}</td>
                  </tr>
                  <tr>
                    <th class="td-right-align"> Price:</th>
                    <td class="td-left-align"> {{originalCourse.price}} &euro;</td>
                  </tr>
                  <tr>
                    <th class="td-right-align"> Listed:</th>
                    <td class="td-left-align">
                      <span class="label" [ngClass]="{
                        'label-success': originalCourse.listedInMenu,
                        'label-danger': !originalCourse.listedInMenu}">
                          {{originalCourse.listedInMenu ? "YES" : "NO"}}
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <th class="td-right-align"> Type:</th>
                    <td class="td-left-align"> {{getCourseValue(originalCourse.type)}} </td>
                  </tr>
                  <tr>
                    <th class="td-right-align"> Description:</th>
                    <td class="td-left-align">{{originalCourse.description}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="panel panel-danger" [hidden]="uiState.view.hiddenErrorMsg">
              <div class="panel-heading text-center text-danger" >
                <div> We run into an error!</div>
                <div> Try again later!</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="course-update-tab">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-pencil-square fa-fw"></i> Update course</h3>
          </div>
          <div class="panel-body">

            <form (ngSubmit)="updateCourseSubmit()"
                  #courseForm="ngForm"
                  [hidden]="uiState.form.hiddenForm"
                  id="updateCourse">
              <div class="row">
                <div class="form-group col-md-12">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name"
                         required
                         [(ngModel)]="updateCourse.name" name="name"
                         #name="ngModel">
                  <div [hidden]="name.valid || name.pristine"
                       class="panel panel-danger">
                    <div class="panel-heading text-center text-danger">
                      Name is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-4">
                  <label for="price">Price &euro;</label>
                  <input type="number" class="form-control" id="price"
                         required
                         [(ngModel)]="updateCourse.price" name="price"
                         #price="ngModel">
                  <div [hidden]="price.valid || price.pristine"
                       class="panel panel-danger">
                    <div class="panel-heading text-center text-danger">
                      Price is required
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <label>Listed</label>
                  <div class="checkbox">
                    <label for="listedInMenu">
                      <input type="checkbox"  id="listedInMenu"

                             [(ngModel)]="updateCourse.listedInMenu" name="listedInMenu"
                             #listedInMenu="ngModel">
                      Listed in menu
                    </label>
                  </div>
                </div>

                <div class="form-group col-md-4">
                  <label for="type">Beverage type</label>
                  <select class="form-control" id="type"
                          required
                          [(ngModel)]="updateCourse.type" name="type"
                          #type="ngModel">
                    <option *ngFor="let type of courseTypes" [value]="type.key">{{type.val}}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <label for="description">Beverage description</label>
                  <textarea class="form-control" id="description"
                            [(ngModel)]="updateCourse.description" name="description"
                            placeholder="Description..." rows="3">
          </textarea>
                </div>
              </div>
            </form>

            <!-- UI experience for updating course-->
            <div>
              <div class="panel panel-info" [hidden]="uiState.form.hiddenLoadingGif">
                <div class="panel-heading text-center">
                  <img src="../../../assets/pictures/loading.gif" alt="L" style="width:20px; height:20px;">
                  <span>&nbsp;Saving...</span>
                </div>
              </div>
              <div class="panel panel-success" [hidden]="uiState.form.hiddenSuccess">
                <div class="panel-heading text-center text-success">
                  Success!
                </div>
              </div>
              <div class="panel panel-danger" [hidden]="uiState.form.hiddenError">
                <div class="panel-heading text-center text-danger">
                  <div> We run into an error!</div>
                  <div> Try again later!</div>
                </div>
              </div>
            </div>
            <!-- UI experience fo updating course END-->

          </div>

          <div class="panel-footer text-right">
            <button type="submit"
                    class="btn btn-success"
                    form="updateCourse"
                    [disabled]="!courseForm.form.valid">
              <i class="fa fa-fw fa-pencil-square"></i> Update
            </button>

          </div>
        </div>
      </div>

    </div>


  </div>
</div>
