<div class="row">

  <!-- Page Heading -->

  <div class="col-md-12">
    <h1 class="page-header">
      Developer Dashboard <small>Statistics Overview</small>
    </h1>
    <ol class="breadcrumb">
      <li class="active">
        <i class="fa fa-dashboard"></i> Dashboard
      </li>
    </ol>
  </div>

  <div class="col-md-12 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-percent" aria-hidden="true"></i> Percentage of paid invoices
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <!--UI experience stats loading-->
            <div>
              <div class="panel panel-info" [hidden]="uiState.stats.hiddenLoadingGif">
                <div class="panel-heading text-center">
                  <img src="../../../assets/pictures/loading.gif" style="width:20px; height:20px;">
                  <span>&nbsp;Loading...</span>
                </div>
              </div>
              <div class="panel panel-danger" [hidden]="uiState.stats.hiddenError">
                <div class="panel-heading text-center text-danger">
                  <div> We run into an error!</div>
                  <div> Try again later!</div>
                </div>
              </div>
            </div>
            <!--UI experience stats loading END-->
          </div>

          <div class="col-md-6">
            <div id="percentage-paid"></div>
          </div>

          <div class="col-md-6">
            <br/>
            <div>
              <div class="table-responsive">
                <table class="table table-responsive table-striped" [hidden]="uiState.stats.hiddenStats" >
                  <thead>
                  <tr>
                    <th colspan="2">
                      <i class="fa fa-fw fa-balance-scale" aria-hidden="true"></i> Invoices paying balance
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th class="td-right-align col-md-5"> Total invoices:</th>
                    <th class="td-left-align  col-md-7"> {{numberOfInvoices}}</th>
                  </tr>
                  <tr>
                    <th class="td-right-align"> Paid invoices price:</th>
                    <th class="td-left-align text-success"> {{sumOfPaidInvoices}} &euro;</th>
                  </tr>
                  <tr>
                    <th class="td-right-align"> Unpaid invoices price:</th>
                    <th class="td-left-align text-danger">{{sumOfUnpaidInvoices}} &euro;</th>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer"></div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-file-text-o" aria-hidden="true"></i>
          API service documentation
        </h3>
      </div>
      <div class="panel-body">
        <div class="col-md-6 col-md-12">
          <ol>
            <li>
              <h4>Return all active facilities registered:</h4>
              <code>/api/[key]/active-facilities</code>
            </li>
            <li>
              <h4>Details for given facility</h4>
              <code>/api/[key]/facility-details/[facilityId]</code>
            </li>
            <li>
              <h4>Contacts for given facility location for one facility:</h4>
              <code>/api/[key]/facility-location-contacts/[locationId]</code>
            </li>
            <li>
              <h4>All courses from one type for given facility</h4>
              <code>/api/[key]/facility/[facilityId]/courses/[courseType]</code>
            </li>
            <li>
              <h4>All courses from one type in all facilities:</h4>
              <code>/api/[key]/courses/[courseType]</code>
            </li>
            <li>
              <h4>All beverages from one type for given facility</h4>
              <code>/api/[key]/facility/[facilityId]/beverages/[beverageType]</code>
            </li>
            <li>
              <h4>All beverages from one type in all facilities:</h4>
              <code> /api/[key]/beverages/[beverageType]</code>
            </li>
            <li>
              <h4>All beverages types for given facility:</h4>
              <code>/api/[key]/facility/[facilityId]/beverage-types-in-menu</code>
            </li>
            <li>
              <h4>All courses types for given facility:</h4>
              <code>/api/[key]/facility/[facilityId]/course-types-in-menu</code>
            </li>
            <li>
              <h4>Details for given menu item, course or beverage:</h4>
              <code>/api/[key]/detailed-menu-item/[menuItemId]</code>
            </li>
          </ol>
        </div>
        <hr>
        <div class="col-md-6 col-md-12">
          <ol>
            <li>
              <h4>For placeholder <code>[key]</code></h4>
              <ul>
                <li> For this placeholder you need to put you api key provided by CateringAPI platform on your registration.</li>
              </ul>
            </li>
            <li>
              <h4>For placeholder <code>[beverageType]</code> you can use:</h4>
              <ul>
                <li *ngFor=" let bType of beverageTypes"> {{bType.key.toLowerCase()}}</li>
              </ul>
            </li>
            <li>
              <h4>For placeholder <code>[courseType]</code> you can use:</h4>
              <ul>
                <li *ngFor=" let cType of courseTypes"> {{cType.key.toLowerCase()}}</li>
              </ul>
            </li>
          </ol>
        </div>
      </div>
      <div class="panel-footer">

      </div>
    </div>
  </div>


</div>
<!-- /.row -->
