<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">
      List of all facility invoices
    </h1>
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-dashboard"></i>
        <a href="admin/home"> Dashboard </a>
      </li>
      <li class="active">
        <i class="fa fa-building"></i> Facility invoices
      </li>
    </ol>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <i class="fa fa-fw fa-building"></i>
      All Facility invoices
    </h3>
  </div>
  <div class="panel-body">
    <div class="panel panel-info" [hidden]="uiState.hiddenLoadingGif">
      <div class="panel-heading text-center">
        <img src="../../../assets/pictures/loading.gif" style="width:20px; height:20px;">
        <span>&nbsp;Loading...</span>
      </div>
    </div>
    <div class="panel panel-info" [hidden]="uiState.hiddenNoDataInfo">
      <div class="panel-heading text-center text-info">
        There is no facility invoices.
      </div>
    </div>
    <div class="panel panel-danger" [hidden]="uiState.hiddenErrorMsg">
      <div class="panel-heading text-center text-danger">
        <div> We run into an error!</div>
        <div> Try again later!</div>
      </div>
    </div>
    <div class="table-responsive" [hidden]="uiState.hiddenTable">
      <table class="table table-responsive table-bordered table-striped">
        <thead>
        <tr>
          <th>Package name</th>
          <th>Facility</th>
          <th>Price &euro;</th>
          <th>Tax %</th>
          <th>Total &euro;</th>
          <th>Created at</th>
          <th>Payed at</th>
          <th>Status</th>
        </tr>
        <!--<tr>-->
        <!--<th colspan="7"> <input type="text" class="form-control" st-search="name" st-delay="400" type="search" placeholder="search by task name..."> </th>-->
        <!--</tr>-->
        </thead>
        <tbody>
        <tr *ngFor="let invoice of facilityInvoices | paginate: { itemsPerPage: 2, currentPage: page }">
          <td>
            <a href="admin/package-details/{{invoice.subscribe.id}}">
              {{invoice.subscribe.name}}
            </a>
          </td>
          <td>{{invoice.facility.name}}</td>
          <td>{{invoice.originalPackagePrice}}</td>
          <td>{{invoice.taxAmount}}</td>
          <td>{{invoice.grossPrice}}</td>
          <td>{{dateParsing(invoice.createdAt)}}</td>
          <td>{{dateParsing(invoice.payedAt)}}</td>
          <td>
            <span class="label" [ngClass]="{
            'label-success': invoice.invoicePayed,
            'label-danger': !invoice.invoicePayed}">
              {{invoice.invoicePayed ? "PAID" : "NOT PAID"}}
            </span>

          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="8" class="text-center">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
          </td>
        </tr>

        </tfoot>
      </table>

    </div>

  </div>
</div>
