<div class="row">

  <!-- Page Heading -->

  <div class="col-md-12">
    <h1 class="page-header">
      Dashboard <small>Statistics Overview</small>
    </h1>
    <ol class="breadcrumb">
      <li class="active">
        <i class="fa fa-dashboard"></i> Dashboard
      </li>
    </ol>
  </div>

  <div class="col-md-12 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-percent" aria-hidden="true"></i> Percentage of paid invoices
        </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <!--UI experience stats1 loading-->
            <div>
              <div class="panel panel-info" [hidden]="uiState.stats1.hiddenLoadingGif">
                <div class="panel-heading text-center">
                  <img src="../../../assets/pictures/loading.gif" style="width:20px; height:20px;">
                  <span>&nbsp;Loading...</span>
                </div>
              </div>
              <div class="panel panel-danger" [hidden]="uiState.stats1.hiddenError">
                <div class="panel-heading text-center text-danger">
                  <div> We run into an error!</div>
                  <div> Try again later!</div>
                </div>
              </div>
            </div>
            <!--UI experience stats1 loading END-->

            <div id="percentage-paid"></div>

          </div>
          <div class="col-md-6">
            <!--UI experience income stats loading-->
            <div>
              <div class="panel panel-info" [hidden]="uiState.incomeStats.hiddenLoadingGif">
                <div class="panel-heading text-center">
                  <img src="../../../assets/pictures/loading.gif" style="width:20px; height:20px;">
                  <span>&nbsp;Loading...</span>
                </div>
              </div>
              <div class="panel panel-danger" [hidden]="uiState.incomeStats.hiddenError">
                <div class="panel-heading text-center text-danger">
                  <div> We run into an error!</div>
                  <div> Try again later!</div>
                </div>
              </div>
            </div>
            <!--UI experience income stats loading END-->

            <br/><br/>
            <div [hidden]="uiState.incomeStats.hiddenTable">
              <div class="table-responsive">
                <table class="table table-responsive table-striped">
                  <thead>
                    <tr>
                      <th colspan="2">
                        <i class="fa fa-fw fa-balance-scale" aria-hidden="true"></i> Invoices paying balance
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>  </tr>
                    <tr>
                      <th class="td-right-align col-md-5"> Paid invoices price:</th>
                      <th class="td-left-align text-success col-md-7"> {{sumOfPaidInvoices}} &euro;</th>
                    </tr>
                    <tr>
                      <th class="td-right-align"> Unpaid invoices price:</th>
                      <th class="td-left-align text-danger">{{sumOfUnpaidInvoices}} &euro;</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer"></div>
    </div>
  </div>

  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-fw fa-pie-chart" aria-hidden="true"></i>
          Subscription packages status
        </h3>
      </div>
      <div class="panel-body">
        <!--UI experience stats2 loading-->
        <div>
          <div class="panel panel-info" [hidden]="uiState.stats2.hiddenLoadingGif">
            <div class="panel-heading text-center">
              <img src="../../../assets/pictures/loading.gif" style="width:20px; height:20px;">
              <span>&nbsp;Loading...</span>
            </div>
          </div>
          <div class="panel panel-info" [hidden]="uiState.stats2.hiddenNoPackagesMsg">
            <div class="panel-heading text-center text-info">
              There is no packages in the system!
            </div>
          </div>
          <div class="panel panel-danger" [hidden]="uiState.stats2.hiddenError">
            <div class="panel-heading text-center text-danger">
              <div> We run into an error!</div>
              <div> Try again later!</div>
            </div>
          </div>
        </div>
        <!--UI experience stats2 loading END-->

        <div id="status-stats"></div>

      </div>
      <div class="panel-footer"></div>
    </div>
  </div>

  <div class="col-md-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-fw fa-gavel" aria-hidden="true"></i> Developer vs. Facility Invoices
        </h3>
      </div>
      <div class="panel-body">
        <!--UI experience stats3 loading-->
        <div>
          <div class="panel panel-info" [hidden]="uiState.stats3.hiddenLoadingGif">
            <div class="panel-heading text-center">
              <img src="../../../assets/pictures/loading.gif" style="width:20px; height:20px;">
              <span>&nbsp;Loading...</span>
            </div>
          </div>
          <div class="panel panel-info" [hidden]="uiState.stats3.hiddenNoInvoicesMsg">
            <div class="panel-heading text-center text-info">
              There is no invoices in the system!
            </div>
          </div>
          <div class="panel panel-danger" [hidden]="uiState.stats3.hiddenError">
            <div class="panel-heading text-center text-danger">
              <div> We run into an error!</div>
              <div> Try again later!</div>
            </div>
          </div>
        </div>
        <!--UI experience stats3 loading END-->

        <div id="dev-vs-fac"></div>

      </div>
      <div class="panel-footer"></div>
    </div>
  </div>
</div>
<!-- /.row -->
