<!-- row -->
<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">
      Invoices for your facility
    </h1>
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-dashboard"></i>
        <a href="facility/home"> Dashboard </a>
      </li>
      <li class="active">
        <i class="fa fa-building"></i> Invoices
      </li>
    </ol>
  </div>
</div>
<!-- /.row -->

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">
      <i class="fa fa-building"></i> Your invoices
    </h3>
  </div>

  <div class="panel-body">

    <!--loading beverages UI info-->
    <div class="panel panel-info" [hidden]="uiState.invoiceList.hiddenLoadingGif">
      <div class="panel-heading text-center">
        <img src="../../../assets/pictures/loading.gif" style="width:20px; height:20px;">
        <span>&nbsp;Loading...</span>
      </div>
    </div>
    <div class="panel panel-info" [hidden]="uiState.invoiceList.hiddenNoDataInfo">
      <div class="panel-heading text-center text-info">
        There is no invoices for your facility.
      </div>
    </div>
    <div class="panel panel-danger" [hidden]="uiState.invoiceList.hiddenErrorMsg">
      <div class="panel-heading text-center text-danger">
        <div> We run into an error!</div>
        <div> Try again later!</div>
      </div>
    </div>
    <!--loading beverages UI info END-->

    <div class="table-responsive" [hidden]="uiState.invoiceList.hiddenTable">
      <table class="table table-responsive table-bordered table-striped">
        <thead>
          <tr>
            <th>Package</th>
            <th>Created at</th>
            <th>Price</th>
            <th>Tax</th>
            <th>Gross price</th>
            <th>Paid at</th>
            <th>Status</th>
            <th>Pay</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let invoice of facilityInvoices | paginate: { itemsPerPage: 3, currentPage: page } ">
            <td>{{invoice.subscribe.name}}</td>
            <td>{{dateParsing(invoice.createdAt)}}</td>
            <td>{{invoice.originalPackagePrice}}&euro;</td>
            <td>{{invoice.taxAmount}}%</td>
            <td>{{invoice.grossPrice}}&euro;</td>

            <td>{{dateParsing(invoice.payedAt)}}</td>
            <td>
              <span class="label" [ngClass]="{
                'label-success': invoice.invoicePayed,
                'label-danger': !invoice.invoicePayed}">
                  {{invoice.invoicePayed ? "PAID" : "NOT PAID"}}
              </span>
            </td>
            <td>
              <button class="btn btn-xs btn-primary" 	(click)="pay(invoice.grossPrice)" [disabled]="invoice.invoicePayed">
                <i class="fa fa-eur" aria-hidden="true"></i> Pay
              </button>
            </td>
          </tr>
        </tbody>

        <tfoot>
        <tr>
          <td colspan="8" class="text-center">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="panel-footer">
    <div class="panel panel-info">
      <div class="panel-heading text-info text-center">
        You have 7 days relief period after your subscription ends to pay the invoice.
      </div>
    </div>
  </div>

</div>
